<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SOAPEndPoint" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="SOAPEndPoint2" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/MathsLibrary/MathsOperations/"
                binding="basicHttpBinding" bindingConfiguration="SOAPEndPoint"
                contract="MathsOperations.IMathsOperations" name="SOAPEndPoint1" />
            <endpoint address="http://localhost:8734/Design_Time_Addresses/MathsLibrary/MathsOperations/"
                binding="basicHttpBinding" bindingConfiguration="SOAPEndPoint"
                contract="MathsOperations.IMathsOperations" name="SOAPEndPoint2" />
            <endpoint address="http://localhost:8734/Design_Time_Addresses/MathsLibrary/MathsOperations/SOAPEndPoint3"
                binding="wsHttpBinding" bindingConfiguration="SOAPEndPoint2"
                contract="MathsOperations.IMathsOperations" name="SOAPEndPoint3">
                <identity>
                    <userPrincipalName value="LAPTOP-RAKOTO\Lucas" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>